/* Base styling */
body {
    overflow-y: scroll;
    font: 16px monospace, monospace;
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
    position: relative; /* Ensure positioning context for absolute positioning */
}

pre {
    margin: 0;
    overflow-x: hidden;
}

.t {
    text-decoration: none;
}

/* Logo styling */
#logo {
    position: absolute; /* Absolute positioning to place it precisely */
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    height: 50px; /* Adjust as needed */
}

/* Responsive styling */
@media (max-width: 999px) {
    body {
        font-size: 1.94vw;
    }
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #fff;
    }

    a {
        color: #6CF;
    }

    #l {
        color: #F33;
    }

    #g {
        filter: invert(1);
    }
}

/* General element styling */
img, #b {
    max-width: 80ch;
}

span {
    display: inline-block;
}
