/* Base styling */
body {
    margin: 0;
    padding: 0;
    font: 16px monospace, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    position: relative; /* Positioning context for absolute logo */
}

img#logo {
    position: absolute; /* Absolute positioning for logo */
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    height: 50px; /* Adjust as needed */
}

#content {
    display: inline-block;
    padding: 20px;
    border: 1px solid #333; /* Dark border for contrast */
    background: #222; /* Slightly lighter black background */
}

/* Responsive styling */
@media (max-width: 999px) {
    body {
        font-size: 1.94vw;
    }
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #fff;
    }

    a {
        color: #6CF;
    }
}

/* General element styling */
img, #b {
    max-width: 80ch;
}

span {
    display: inline-block;
}
