body {
    margin: 0;
    font-family: monospace, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
}

pre {
    margin: 0;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.t {
    text-decoration: none;
    color: #a00;
}

@media (max-width: 999px) {
    body {
        font-size: 1.5vw; /* Adjusted font size for smaller screens */
    }
    pre {
        font-size: 1.2em; /* Adjusted font size for the ASCII art */
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #fff;
    }
    a {
        color: #6CF;
    }
    .t {
        color: #F33;
    }
}
